@model IEnumerable<ARCIC.Models.ForumsModel>
@using ARCIC.App_Code;


@{        
    ViewBag.Title = "Strategic Landpower";
    var GrayZone = ViewBag.grayZone;
    var ConventionalDeterrence = ViewBag.conventionalDeterrence;
    var HybridWarfare = ViewBag.hybridWarfare;
    var UnconventionalWarfare = ViewBag.unconventionalWarfare;        
       
}

<div class="row">
    <div class="col-md-12">
        <div class="">
            <h1 class="page-header"><b>Strategic Landpower</b></h1>
            <ol class="breadcrumb hidden-xs hidden-sm">
                <li><a href="/Home">Home</a> </li>
                <li class="active">Initiatives</li>
                <li class="active">Strategic Landpower (SLTF)</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">       
        <div>
            <h2><b>Overview</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">
                    <p>The Army, Marine Corps, and U.S. Special Operations Command chartered the Strategic Landpower Task Force (SLTF) on January 28, 2013 to study the application of landpower to achieve national objectives in the future. This task force will capture the lessons of the last decade of war while simultaneously looking forward to focus on engagement and preventing conflict. Specifically, the Strategic Landpower Task Force:</p>
                    <ul class="" style="list-style: square;">
                        <li>Examines the role of strategic landpower in accomplishing the key missions sets contained in Sustaining U.S. Global Leadership, the current strategic guidance.
                        </li>
                        <li>Studies the confluence of land, human, and cyberspace domains through research and analysis in order to better inform the national security establishment's thinking on integrating the "human domain" into the planning and execution of military operations to set the conditions for decisive outcomes.
                        </li>
                        <li>Informs how best to account for human considerations in formal Joint and service doctrine, to include whether to adopt the term "human domain" as a doctrinal term and the DOTMLPF implications.
                        </li>
                    </ul>
                    <p>The SLTF conducted a Limited Objective Experiment (LOE) in August 2013 to inform the development of the Strategic Landpower Concept. This concept will describe the relationship between the land, cyber, and emerging "human" domains; inform defense planning; and enable the Joint force to plan, prepare, and execute military operations that fully account for the inherent human factors that drive and end conflict. The insights gained from the LOE, as well as those gained from the SLTF's ongoing studies and analysis, will be discussed at an Institute of Land Warfare panel at this October's annual Association of the United States Army meeting. Senior representatives from the Army, Marine Corps, and U.S. Special Operations Command will participate in the panel.</p>

                </div>
            </div>
        </div>

       

        <!--Strategic Insights-->
        <div class="">
            <h2><b>Strategic Landpower Insights</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">
                    <p>Monthly we will share thoughts and opinions on the use of landpower in conducting and winning the nations wars from experts across the Department of Defense, think tanks, academics, and other entities within the community of interest. This list is ever evolving and should generate discussion in the best ways landpower can support the joint force.</p>
                   <p>As a reminder, the works posted here are the property of the authors and does not constitute endorsement by the Department of Defense, the U.S. Army, the Training and Doctrine Command, and the Army Capabilities Integration Center. As such, remember to source properly if using information from the links.</p>


                </div>              
                    
                    <ul class="list-group">
                        
                        <li class="list-group-item">
                            <h2 class="list-group-item-heading"><b>Insights</b></h2>
                            <b>Michael O'Hanlon (Brookings)</b>
                            <div>The Future of Land Warfare, Book. Podcast, Brookings Cafeteria,</div>
                            <div><a href="http://www.brookings.edu/research/podcasts/2015/10/michael-ohanlon-on-future-of-american-warfare">“Michael O’Hanlon on the future of Warfare”</a></div>

                        </li>
                        <li class="list-group-item">
                            <b>Dr. Antulio Echevarria II (AWC) (registration required to view article, free)</b>
                            <div><a href="http://www.infinityjournal.com/article/158/How_Should_We_Think_about_GrayZone_Wars/">How Should We Think About “Gray-Zone” Wars?</a></div>
                        </li>
                        <li class="list-group-item">
                            <b>Dr. Dave Johnson (RAND) </b>
                            <div><a href="http://www.rand.org/blog/2015/12/ground-combat.html">Ground Combat, Commentary, The Cipher Brief, </a></div>
                        </li>
                        <li class="list-group-item">
                            <b>BG(R) Huba Wass de Czege (AWC) </b>
                            <div><a href="http://smallwarsjournal.com/jrnl/art/defeating-the-abu-bakr-al-baghdadi-gang-a-realistic-strategy">Defeating the Abu Bakr al Baghdadi Gang: A Realistic Strategy, Small Wars Journal,</a></div>
                        </li>
                        <li class="list-group-item">
                            <b>Dr. Colin Gray (AWC) </b>
                            <div><a href="http://strategicstudiesinstitute.army.mil/pubs/display.cfm?pubID=1251>Always">Strategic: Jointly Essential Landpower</a></div>
                        </li>
                        <li class="list-group-item">
                            <b>Paul Scharre (CNAS)  </b>
                            <div><a href="http://www.cnas.org/emerging-challenges-in-land-warfare">Uncertain Ground: Emerging Challenges in Land Warfare, </a></div>
                        </li>
                         <li class="list-group-item">
                        <p>Questions can be directed to LTC Jason G. Gardner, at 703-545-6155.</p>
                    </li>

                    </ul>                  
                
            </div>
        </div>



        
        <!--International Viewpoints-->
        <div class="">
            <h2><b>International Viewpoints</b></h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="http://www.arcic.army.mil/app_Documents/SLTF/2015_12_FLW_Palazzo_Web.pdf" target="_blank">Forging Australian LandPower: A Primer </a>
                </li>
            </ul>
        </div>




        <!--Joint Concept for Integrated Campaigning-->
        <div class="">
            <h2><b>Joint Concept for Integrated Campaigning</b></h2>
             <p><a onClick="ga('send', 'event', { eventCategory: 'Document',  eventAction: 'Download', eventLabel: 'Joint Concept for Integrated Capaigning', eventValue: 1});" href="~/App_Documents/SLTF/Joint_Concept_for_Integrated_Campaigning_Current.pdf" target="_blank">Latest Joint Concept for Integrated Campaigning PDF</a>  <i class="fa fa-file-pdf-o"></i></p>
            <div class="panel panel-default">  
               @* <ul class="list-group">                    
                    <li class="list-group-item">@helpers.GoogleTrack("Download","../App_Documents/SLTF/JCIC_Executive_Overview_2_Aug.pdf","Clicked Joint Concept For Integrated Campaigning",1,"PDF","Executive Overview August 2016","pdf","","","")</li>
                </ul>  *@             
                <div class="panel-body">                  
                    <p>The Joint Concept for Integrated Campaigning (JCIC) adapts how the Joint force applies military power in concert with non-military efforts to promote and defend U.S. national interests. Its purpose is to guide force development and inform how leaders and planners visualize, understand, decide, and direct lethal and non-lethal activities at the strategic and operational levels of war. Driving the publication of this concept is a new-found appreciation of the changes in the future operating environment and an examination of lessons from recent campaigns. </p>
                <p>More than simply recognizing change, this concept aims to instill a deep appreciation that many aspects of the future security environment are likely to be significantly different than what we have experienced over the past several decades. Adversaries have carefully studied the Western way of war and are adapting in ways that exploit our every seam and vulnerability. They are avoiding U.S. strengths and finding ways to achieve their political objectives in ways not easily countered by the Joint Force and other instruments of national power. Furthermore, they are taking steps to seize the initiative, which means the Joint Force will likely not begin every conflict on the offense. With this in mind, the JCIC aims to begin the process of eliminating gaps and mitigating vulnerabilities in the way the Joint Force designs, plans, and executes campaigns. It seeks to alter the way in which Geographic Combatant Commands campaign so that military operations do more than simply achieve military objectives. Synchronized with inter-organizational and multinational partners, military campaign plans will ensure they contribute to a range of favorable, enduring political outcomes. </p>
                <p>This document aims to be evolutionary in many regards and revolutionary in others. It builds on the lessons of the past and offers what some may regard as a paradigm shift in the way the Joint Force employs military power. The concept recognizes the enduring nature of war and the fact that war remains a clash of irreconcilable wills, each aiming to dominate through the use of violence. The endeavor is inherently human, political, and uncertain. The concept highlights that in some circumstances subtle, non-lethal employment of military power, when combined with limited lethal force that is not easily attributable, can achieve substantial political aims. Finally, it aims to elevate the importance of consolidating gains once military objectives are met. Military gains alone are meaningless if they do not, in concert with the other instruments of national power, achieve the strategic objectives of the campaign. </p>
                
                
                </div>
            </div>
        </div>


        <!--     Strategic Landpower: Call for Ideas!-->
        <div class="">
            <h2><b>Strategic Landpower: Call for Ideas!</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">                  
                   <p>Reinforcing the discussion on Strategic Landpower, the U.S. Training and Doctrine Command (TRADOC) is looking for <a href="http://www.arcic.army.mil/app_Documents/Strategic-Landpower-Call-For-Ideas.pdf">ideas and thought pieces</a> <i class="fa fa-external-link"></i> on this subject. They are looking to foster and expand the discussion regarding the tenants and ideas of Strategic Landpower - what it should be and how it should shape along DOTMLPF functions. </p>
                
                </div>
            </div>
        </div>

</div>

    <style>
        h4 {
            color: gray;
        }
    </style>


      
        <!-- Forums Sidebar -->
        <div class="col-md-4">


     <h3 class="text-muted"><b>Campaigning in Competition </b></h3>
           
    <ul class="list-group">     
                            <li class="list-group-item">
                                <div>
                                    <span class="small">Document last updated</span>
                                    <b>June 15, 2017</b>
                                </div>
                            <h4><b><a
                                       href="../App_Documents/SLTF/Review-of-Force-without-War-U-S-Armed-Forces-as-a-Political-Instrument-and-Implications-for-future-Doctrine.pdf" target="_blank" >Review of Force without War: U. S. Armed Forces as a Political Instrument and Implications for future Doctrine and Education. </a></b></h4>
                            <div class="text-warning"><span>GEN Joseph F. Dunford </span> | Center for Strategic and International Studies  29 March 2016</div>
                            <p>@Shorten.ShortStr("“Our traditional approach is either we’re at peace or in conflict, and I think that’s insufficient to deal with the actors that actually seek to advance their interest while avoiding our strengths…as an aside, I don’t find the current phasing construct for operational plans particularly useful right now…. if you think about it, we bin authorities and capabilities according to where we think we are in a phase…and our adversaries, potential adversaries, or our competitors they don’t actually... don’t find themselves limited by that construct... same framework….", 233)...</p>                                
                                
                    </ul>



    <h3 class="text-muted"><b>Gray Zone</b></h3>
 
      <ul class="list-group">                       
                             @for (int i = 0; i < 6; i++)
                             {
                                 if (i < 1)
                                 {
                                      <li class="list-group-item">
                                    <h4><b><a href="@GrayZone[i].link" target="@GrayZone[i].target">@GrayZone[i].title</a></b></h4>
                                 <div class="text-warning"><span>@GrayZone[i].authors </span> | @GrayZone[i].source</div>
                                    <p>@Shorten.ShortStr(GrayZone[i].excerpt,290)...</p> 
                                          </li>
                                 }
                                 else 
                                 {
                                      <li class="list-group-item"><a href="@GrayZone[i].link" target="@GrayZone[i].target">@GrayZone[i].title</a></li>
                                 }                                 
                             } 
                    </ul>
                     
 
    <h3 class="text-muted"><b>Conventional Deterrence</b></h3>
      <ul class="list-group">                       
                             @for (int i = 0; i < 3; i++)
                             {
                                 if (i < 1)
                                 {
                                      <li class="list-group-item">
                                    <h4><b><a href="@ConventionalDeterrence[i].link" target="@ConventionalDeterrence[i].target">@ConventionalDeterrence[i].title</a></b></h4>
                                 <div class="text-warning"><span>@ConventionalDeterrence[i].authors</span></div>
                                    <p>@Shorten.ShortStr(ConventionalDeterrence[i].excerpt,484)</p> 
                                          </li>
                                 }
                                 else 
                                 {
                                      <li class="list-group-item"><a href="@ConventionalDeterrence[i].link" target="@ConventionalDeterrence[i].target">@ConventionalDeterrence[i].title</a></li>
                                 }                                 
                             } 
                    </ul>   


    <h3 class="text-muted"><b>Unconventional Warfare</b></h3>
      <ul class="list-group">                       
                             @for (int i = 0; i < 4; i++)
                             {
                                 if (i < 1)
                                 {
                                      <li class="list-group-item">
                                    <h4><b><a href="@UnconventionalWarfare[i].link" target="@UnconventionalWarfare[i].target">@UnconventionalWarfare[i].title</a></b></h4>
                                 <div class="text-warning"><span>@UnconventionalWarfare[i].authors</span></div>
                                    <p>@Shorten.ShortStr(UnconventionalWarfare[i].excerpt,484)</p> 
                                          </li>
                                 }
                                 else 
                                 {
                                      <li class="list-group-item"><a href="@UnconventionalWarfare[i].link" target="@UnconventionalWarfare[i].target">@UnconventionalWarfare[i].title</a></li>
                                 }                                 
                             } 
                    </ul>   
  

   
    <h3 class="text-muted"><b>Hybrid Warfare</b></h3>
       <ul class="list-group">                       
                             @for (int i = 0; i < 4; i++)
                             {
                                 if (i < 1)
                                 {
                                      <li class="list-group-item">
                                    <h4><b><a href="@HybridWarfare[i].link" target="@HybridWarfare[i].target">@HybridWarfare[i].title</a></b></h4>
                                 <div class="text-warning"><span>@HybridWarfare[i].authors</span></div>
                                    <p>@Shorten.ShortStr(HybridWarfare[i].excerpt,484)</p> 
                                          </li>
                                 }
                                 else 
                                 {
                                      <li class="list-group-item"><a href="@HybridWarfare[i].link" target="@HybridWarfare[i].target">@HybridWarfare[i].title</a></li>
                                 }                                 
                             } 
                    </ul>
        
          
    </div>


    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>

    <!--end container-->
    </div>

    <!--end row-->







